# Ignore PyCharm project files
.idea/

# Ignore virtual environment
.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore SQLite database file
db.sqlite3

# Ignore environment variables
.env

# Ignore log files
*.log

#work progress
work progress

