{% extends "tours/base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Errors:</p>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% else %}


  <form action="{% url 'tours:edit_guide_info' guide.id %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{form.media}}
      <div class="ag-enroll-panel">

        <div class="ag-panel-title"><h1>Edit Info</h1></div>
        <!-- Name -->
        <div class="ag-field">
          <div class="ag-field-name"><label>Name: </label></div>
          <div class="ag-field-descr">{{form.name}}</div>
        </div>
        <!-- Short Description -->
        <div class="ag-field">
          <div class="ag-field-name"><label>Short description: </label></div>
          <div class="ag-field-descr">{{form.short_description}}</div>
        </div>
        <!-- Full Description -->
        <div class="ag-field">
          <div class="ag-field-name"><label>Full Description: </label></div>
          <div class="ag-field-descr">{{form.full_description}}</div>
        </div>
        <!-- Image -->
        <div class="ag-field">
          <div class="ag-field-name"><label>Image: </label></div>
          <div class="ag-field-descr">{{form.image}}</div>
        </div>
        <div style="margin-top: 40px;"><button name="submit">Submit</button></div>
      </div>
  </form>

  {% endif %}

{% endblock content %}