
.photo-panel{


    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
    width: 800px;
    position: relative;
}

.delete-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;

}

.more-photos-grid{

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px 2px;



}

.m-photo-cell{

    with: 60px;
    height: 120px;
    margin-bottom: 20px;

}


/*********************************************************************
********** MEDIA QUERIES FOR MOBILE VERSION ***************************
*********************************************************************/

@media screen and (max-width: 414px){

.photo-panel{


    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: 400px;
    width: 100%;
    position: relative;
}

.more-photos-grid{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px 2px;



}

}